.seaGameView {
  height: 110%;
  width: 100%;
  top: 20%;
  position: absolute;
  display: block;
  background-image: url(../images/TEST.jpg);
  box-shadow: 5px 10px 220px black inset;
  overflow: hidden; 
}
    
/*svg#fish {
      top: 20em;
    }*/

    /* Fish Animation 
svg .fish {
      overflow: hidden;
    }
    */
    
@-webkit-keyframes swim {
  0% {margin-left: -100%}
  100% {margin-left: 100%;}
}
    
@keyframes swim {
  0% {margin-left: -100%}
  100% {margin-left: 100%;}
}

.fish {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  position: absolute;	
  animation: swim 10s;
  -webkit-animation: swim 10s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.fishReverse {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  position: absolute;	
  animation: swim 10s;
  -webkit-animation: swim 10s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-direction: reverse;
}

.fish > path {
  fill:#74f8f8;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.fishReverse > path {
  fill:#528484;
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

.bounce > path {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.bounce2 > path {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
    
  /**/
@-moz-keyframes bounce {
      0%, 50%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      25% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
      }
      75% {
        -moz-transform: translateY(-6px);
        transform: translateY(-6px);
      }
    }
  
@-webkit-keyframes bounce {
      0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      25% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
      75% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
      }
    }
  
@keyframes bounce {
      0%, 50%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      25% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
      75% {
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
      }
    }

.textGameView {
  font-size: 50px;
  color: #2B3856;
  padding-right: 10px;
  padding-left: 10px;
}
.currentRoundGameView {
  font-size: 50px;
  font-weight: bold;
  color: #2B3856;
  display: flex;
  float: right;
}
    
.playersReadyGameView {
  float: right;
  font-size: 50px;
  font-weight: bold;
  color: #2B3856;
  display: flex;
}

.fishTotalGameView {
  font-size: 250px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top:15%;
  position: absolute;
  padding-left: 39%;
  z-index: 2;
}

.buttonGameView {
  font-size: 15px;
  background-color: white;
  border: 2px solid #2a547e;
  border-radius: 7px;
  color: #2a547e;
  right: 0px;
  z-index: 2;
  margin-right: 5%;
  position: absolute;
  top: 10%;
  
}
    
.buttonGameView:hover {background-color: #98AFC7}
    
.buttonGameView:active {
  background-color: #2B3856;
  transform: translateY(1px);
}
.gameview {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width : 100%;
}
