.seaGameView {
    /*background-color: #2a547e;*/
    height: 110%;
    width: 100%;
    top: 20%;
    position: absolute;
    display: block;
    background-image: url(../images/TEST.jpg);
    box-shadow: 5px 10px 220px black inset;    }
    
svg#fish {
      top: 20em;
    }

    /* Fish Animation */
svg.fish {
      overflow:hidden;
    }
    
@-webkit-keyframes swim
    {
    0% {margin-left: -100%}
    90% {margin-left: 50%;}
    100% {margin-left: 100%;}
    }
    
@keyframes swim
    {
    0% {margin-left: -100%}
    70% {margin-left: 50%;}
    100% {margin-left: 100%;}
    }
    
.fish{
  width: 100%;
  height: 104px;
  margin-left: 0px;
  position: absolute;	
  animation: swim 5s;
  -webkit-animation: swim 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
    }
    
svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  fill:#528484;
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }
    
svg #fish2 {
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
    }
    
svg #fish3 {
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
    }
    
svg #fish4 {
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
    }
    
svg #fish5 {
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
    }
    
svg #fish6 {
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
    }
    
  /**/
@-moz-keyframes bounce {
      0%, 50%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      25% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
      }
      75% {
        -moz-transform: translateY(-3px);
        transform: translateY(-3px);
      }
    }
  
@-webkit-keyframes bounce {
      0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
      }
      75% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
      }
    }
  
@keyframes bounce {
      0%, 50%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      25% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
      }
      75% {
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
      }
    }

.textGameView {
      font-family: "Goudy Old Style";
      font-size: 50px;
      font-style: normal;
      font-variant: normal;
      color: #2B3856;
    }
.currentRoundGameView {
      font-family: "Goudy Old Style";
      font-size: 75px;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
      color: #2B3856;
      display: flex;
    }
    
    .playersReadyGameView {
        float: right;
        font-family: "Goudy Old Style";
        font-size: 75px;
          font-style: normal;
        font-variant: normal;
        font-weight: bold;
        color: #2B3856;
        display: flex;
      }
      .fishTotalGameView {
        font-family: "Goudy Old Style";
        font-size: 150px;
          font-style: normal;
        font-variant: normal;
        font-weight: bold;
        color: white;
        text-align: center;
        top:50%;
      }
      .buttonGameView {
        font-family: "Goudy Old Style";
        font-size: 15px;
        font-style: normal;
        font-variant: normal;
        background-color: white;
        border: 2px solid #2a547e;
        border-radius: 7px;
        color: #2a547e;
        right: 0px;
        
        margin-right: 5%;
        position: absolute;
        top: 10%;
        
    }
    
    .buttonGameView:hover {background-color: #98AFC7}
    
    .buttonGameView:active {
        background-color: #2B3856;
        transform: translateY(1px);
    }
    .gameview{
        position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width : 100%;
    }