*{
    font-family: "Goudy Old Style";
    font-style: normal;
    font-variant: normal;
    color: #2B3856;
  }

#content {
    top: 40%;
    left: 50%;
    margin-right: -50%;
    width : 100%;
}

.main {
    /*overflow: hidden !important;*/
    background : linear-gradient(to right, #dbc594, #e6e4b3, #dbc594);
    margin:0px;
    
}

.inputBox {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #2a547e;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.button {
    top:100%;
    font-size: 15px;
   	background-color:white;
    border: 2px solid #2a547e;
    border-radius: 7px;
    color: #2a547e;
    left: 0px;
    /*margin: 12px;*/
    width : 100%;
    cursor: pointer;
    margin-top: 2%;
}

.button:hover {background-color: #98AFC7}

.button:active {
    background-color: #2B3856;
    transform: translateY(1px);
}
    
.break {
    line-height:50px;
}

.gameCode {
    font-size: 50px;
    color: #994133;
    font-weight: bold;
    border: 3px solid #994133;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.81);
    width: 100%;
    display: block;
    text-align: center;
}

.text {
    font-size: 50px;
}

.textSmall {  
    font-size: 30px;
}
.listElement {
    border: 2px solid #2B3856;
    border-radius: 10px;
    margin:2%;
    float:left;
    width: 250px;
    padding-left: 3%;
    background-color:  #d8caac;

}

.list {
    font-size: 28px;
    list-style-image: url('../images/fishIcon.png');
    list-style-position: inside;
    width:102%;
    margin-left: -5%;
    margin-top: -1%;
    padding: 3%;
}

#errorDiv {
    font-size: 20px;
    color :#ffdbbd;
    font-weight: bold;
    background-color:red;
    position:absolute;
    left : 0px;
    width: 100%;
    text-align: center;
    top: -45px;
}

.fishtank {
    background : linear-gradient(to bottom left, #4CA1AF,#415E7B, #18222D);
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
    top:-100%;
    left:0px;
}

.animation {
    animation: 2s fly infinite linear;
}

.fishie {
    width: 382px;
    height: 215px;
    right: 40%;
    top:30%;
    position: absolute;
    background-image: url("../images/pufferfishLoader.png");
}

/* Fish fly */
@keyframes fly {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.currentRound {
    font-size: 75px;
    font-weight: bold;
    color: #2B3856;
    display: flex;
}

.playersReady {
    float: right;
    font-size: 75px;
    font-weight: bold;
    display: flex;
}

.fishTotal {
    font-size: 150px;
    font-weight: bold;
    color: white;
    text-align: center;
    top:50%;
  }
  
.view {
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 15px;
    box-shadow: 0px 6px 85px 23px rgba(112,112,112,0.31);
    padding: 5%;
    align-content: center;
    margin: 5%;
    /*overflow-y: auto !important;*/
}

table {
    border-collapse: collapse;
    box-shadow: 0 0 0 2px #909090;
    border: 2px solid #909090;
    border-radius:6px;
    margin-bottom: 12px;
    font-size: 30px;
    width: 100%;
    border-spacing: 1px;
    text-align: center;
    margin-bottom: 5%;
}

td,th {
    border: 1px solid #909090;
    font-weight: bold;
    padding: 10px;
}

table >tbody>tr:nth-child(2){
    background:#c4b598 !important;
}
table >thead>tr:nth-child(2){
    background:#c4b598 !important;
}
tr:nth-child(even) {background: #d8caac}
tr:nth-child(odd) {background: #e5e4c4}

.fishRobbery{
    color:#2B3856;
    background-color: rgb(201, 94, 85);
}