#content{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width : 60%;
}

.main{
    height: 100% !important;
    background : linear-gradient(to right, #dbc594, #e6e4b3, #dbc594);
}

@media (max-width: 960px){
.inputBox {
    width: 100%;
    }
}

.inputBox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #2a547e;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;    
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.pt-page-moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

#errorDiv{
    font-family: "Goudy Old Style";
    font-size: 20px;
	font-style: normal;
	font-variant: normal;
    color :#ffdbbd;
    font-weight: bold;
    background-color:red;
    position:absolute;
    left : 0px;
    width: 100%;
 
    text-align: center;
    top: -45px;
}

.button{
    font-family: "Goudy Old Style";
    font-size: 10px;
	font-style: normal;
	font-variant: normal;
   	background-color:white;
    border: 2px solid #2a547e;
    border-radius: 7px;
    color: #2a547e;
    margin: 4px 2px;
    width : 100%;    
}

.button:hover {
    background-color: #98AFC7
}

.button:active {
  background-color: #2B3856;
  transform: translateY(1px);
}

.text{
    font-family: "Goudy Old Style";
    font-size: 30px;
	font-style: normal;
    font-variant: normal;
    color: #2B3856;
    text-align: center;
}

.textSmall{
    font-family: "Goudy Old Style";
    font-size: 15px;
	font-style: normal;
    font-variant: normal;
    color: #2B3856;
}

.joinText{
    font-family: "Goudy Old Style";
    font-size: 20px;
	font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #2B3856;
}

body {
    background: #6ca3a3;
    overflow: hidden;
  }
  
  svg#fish {
    top: 5em;
  }
  /* Fish Animation */
  svg.fish{
    overflow:hidden;
  }
  
  @-webkit-keyframes swim
  {
      0% {margin-left: -235px}
      90% {margin-left: 100%;}
      100% {margin-left: 100%;}
  }
  
  @keyframes swim
  {
      0% {margin-left: -235px}
      70% {margin-left: 100%;}
      100% {margin-left: 100%;}
  }
  
  .fish{
      width: 235px;
      height: 104px;
      margin-left: 0px;
      position: absolute;	
      animation: swim 5s;
      -webkit-animation: swim 5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
  }
  
  svg #fish1,
  svg #fish2,
  svg #fish3,
  svg #fish4,
  svg #fish5,
  svg #fish6 {
  fill:#528484;
    
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  svg #fish2{
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
  }
  
  svg #fish3{
      animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;
  }
  
  svg #fish4{
      animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s;
  }
  
  svg #fish5{
      animation-delay: 0.1s;
      -webkit-animation-delay: 0.1s;
  }
  
  svg #fish6{
      animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
  }
  
  /**/
  @-moz-keyframes bounce {
    0%, 50%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -moz-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75% {
      -moz-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 50%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }
  @keyframes bounce {
    0%, 50%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75% {
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }
