#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width : 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 60px /15px;
    box-shadow: 0px 6px 40px 23px rgba(112,112,112,0.31);
    padding: 5%;
    padding-bottom: 20%;
    padding-top: 15%;
}

.main {
    height: 100% !important;
    background : linear-gradient(to right, #dbc594, #e6e4b3, #dbc594);
}

@media (max-width: 960px) {
.inputBox {
    
        width: 100%;
    }
}

.inputBox {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #2a547e;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;    
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.pt-page-moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

#errorDiv {
    font-family: "Goudy Old Style";
    font-size: 20px;
	font-style: normal;
	font-variant: normal;
    color :#ffdbbd;
    font-weight: bold;
    background-color:red;
    position:absolute;
    left : 0px;
    width: 100%;
    text-align: center;
    top: -45px;
}

.button {
    margin-top:5%;
    font-family: "Goudy Old Style";
    font-size: 10px;
	font-style: normal;
	font-variant: normal;
   	background-color:white;
    border: 2px solid #2a547e;
    border-radius: 7px;
    color: #2a547e;
    width : 100%;    
}

.button:hover {
    background-color: #98AFC7
}

.button:active {
    background-color: #2B3856;
    transform: translateY(1px);
}

.text {
    font-family: "Goudy Old Style";
    font-size: 30px;
	font-style: normal;
    font-variant: normal;
    color: #2B3856;
    text-align: center;
}

.textSmall {
    font-family: "Goudy Old Style";
    font-size: 15px;
	font-style: normal;
    font-variant: normal;
    color: #2B3856;
}

.joinText {
    font-family: "Goudy Old Style";
    font-size: 20px;
	font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #2B3856;
}
