<section id="create-view">
    <button type="button" id="createGame" ><h2>Loo Mäng</h2></button>
</section>

<section id="start-view" style="display: none;">
    <span> gameCode</span>
    <div id="playersReady">
    </div>
    <button type="button" id="startGame" ><h2>Alusta Mängu</h2></button>
</section>

<section id="game-view" style="display: none;">
    <div id="playersReady"></div>
    <div id="Fishes">
        
    </div>
    <button type="button" id="stopGame"><h2>Lõpeta Mäng</h2></button> 
</section>

<section id="statistics-view" style="display: none;">
    <div id="statistics">
        
    </div>
    <button type="button" id="newGame"><h2>Loo uus mäng</h2></button> 
</section>
