<section id="create-view" style="display: block;">
    <button type="button" class = "button" id="createGame" ><h2>Loo Mäng</h2></button>
</section>

<section id="start-view" style="display: none;">
    <div>
        <span class = "text" >Mängu kood: </span>
        <br class = "break">
        <span  id="gameCode" class = "gameCode" ></span>
        <br class = "break">
    </div>
    <div id="playersJoined">
        <span class = "text" >Liitunud tiimid: </span>
        
        <ul class = "list" id="playersList"></ul>
    </div>
    <button type="button"class = "button" id="startGame" ><h2>Alusta Mängu</h2></button>
</section>

<section id="game-view" style="display: none;">
    <div class="playersReady" id="playersReady"></div>
    <div class="currentRound" id="currentRound"></div>
    <div class="fishTotal" id="fishTotal">
    
    </div>
    
    <button type="button" class = "button" id="stopGame"><h2>Lõpeta Mäng</h2></button> 
</section>

<section id="statistics-view" style="display: none;">
    <div>
        <table id="OverallStatsTabel">
            <tr>
              <th>Rounde<br>mängitud</th>
              <th>Kokku kalu<br>püütud</th> 
              <th>Keskmine kogus<br>kalu püütud</th>
              <th>Väikseim kogus <br>kalu püütud</th>
              <th>Röövpüüke<br>soorituatud </th>
              <th>Suurim kogus<br>kalu püütud</th>
            </tr>
    </div>
    <button type="button" class = "button" id="newGame"><h2>Loo uus mäng</h2></button> 
</section>
