<section id="create-view" style="display: block;">
    <div class="view">
        <button type="button" class = "button" id="createGame" ><h2>Loo mäng</h2></button>
    </div>
</section>

<section id="start-view" style="display: none;">
    <div class="view">
        <div>
            <span class = "text" >Mängu kood: </span>
            <br class = "break">
            <span  id="gameCode" class = "gameCode" ></span>
            <br class = "break">
        </div>
        <div id="playersJoined">
            <span class = "text" >Liitunud tiimid: </span>
            
            <ul class = "list" id="playersList"></ul>
        </div>
        <button type="button"class = "button" id="startGame" ><h2>Alusta mängu</h2></button>
    </div>
    
</section>

<section id="game-view" style="display: none;">
    <div class="gameview">
        <div style="float:right;margin-right: 5%;">
            <span class ="textGameView">Mängijaid valmis: </span>
            <div class="playersReadyGameView" id="playersReady"></div>
        </div>
        <div style="float:left; margin-left: 5%;">
            <span class ="textGameView">Voor: </span>
            <div class="currentRoundGameView" id="currentRound"></div>
        </div>    
    </div>

    <div>
        <div class="seaGameView" id="sea">
            <div class="fishTotalGameView" id="fishTotal"></div>
            <button type="button" class = "buttonGameView" id="stopGame">
                <h2>Lõpeta mäng</h2>
            </button> 
        </div>
    </div>
</section>

<section id="statistics-view" style="display: none;">        
    <div class="view">
    <div>
        <table class="table" id="OverallStatsTabel">
            <tr>
              <th>Rounde<br>mängitud</th>
              <th>Kokku kalu<br>püütud</th> 
              <th>Keskmine kogus<br>kalu püütud</th>
              <th>Väikseim kogus <br>kalu püütud</th>
              <th>Röövpüüke<br>soorituatud </th>
              <th>Suurim kogus<br>kalu püütud</th>
            </tr>
        </table>
    </div>
    <div>
        <table class="table" id="scoreTabel">
        </table>
    </div>

    <button type="button" class = "button" id="newGame"><h2>Loo uus mäng</h2></button>
</div> 
</section>
 
